<footer class="footer pt-1">

  <div class="container footer-container">

    <div class="footer-col">
      <h3 class="footer-col__heading">Find Us</h3>
      <ul class="footer-col__list">
        <li>Mobiler: <em>078111111</em></li>
        <li>Email: <em>laugh@home.com</em></li>
        <li>------------</li>
      </ul>
      <a href="#"><img src="/img/logo-footer.svg" alt=""></a>
    </div>

    <div class="footer-col">
      <h3 class="footer-col__heading">Get Assistance</h3>
      <ul class="footer-col__list">
        <li><a href="#">FAQ</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>


    <div class="footer-col">
      <h3 class="footer-col__heading">Follow us on:</h3>
      <ul class="footer-col__list social">
        <li>
          <a href="#"><img src="/img/Icon-awesome-facebook.svg" alt="">Facebook</a>
        </li>
        <li>
          <a href="#"><img src="/img/Icon-awesome-twitter.svg" alt="">TwitterLink</a>
        </li>
        <li>
          <a href="#"><img src="/img/Icon-awesome-linkedin-in.svg" alt="">Linkedin</a>
        </li>
        <li>
          <a href="#"><img src="/img/Icon-awesome-instagram.svg" alt="">Instagram</a>
        </li>

      </ul>
    </div>

  </div>

  <div class="container text-center footer__copyright">
    <p class="pt-1">&copy; laugh@home 2022 </p>
  </div>

</footer>

<script src="/js/utils.js" defer></script>