<nav class="mobile-menu" id="mobileMenu">
    <div class="sr-only">Mobile Navigation</div>
    <div class="mobie-nav-close"></div>
    <ul>
        <li><a href="/" class="mobile-menu__link">Home</a></li>
        <li><a href="#" class="mobile-menu__link">About</a></li>
        <li><a href="/faq" class="mobile-menu__link">FAQ</a></li>
        <li><a href="/contact" class="mobile-menu__link">Contact</a></li>
        <li><a href="/game" class="mobile-menu__link">Game</a></li>
    </ul>
</nav>