<div class="header-logo">
  <span class="sr-only">Laugh@Home 2022</span>

  <a href="/">
    <img src="/img/logo.svg" alt="Laugh@Home 2022">
  </a>
</div>
<div class="header__menu">

  <!-- Mobile Navigation Start -->
  <button class="button" id="mobile-menu-toggle" aria-label="Toggle Menu" aria-expanded="false" aria-controls="mobileMenu" data-target="#mobileMenu">
    <img src="/img/menu.svg" alt="Mobile Menu">
  </button>
  <!-- Mobile Navigation End -->


  <nav class="desktop-menu">
    <div class="sr-only">Main Navigation</div>
    <ul>
      <li><a href="/" class="desktop-menu__link active">Home</a></li>
      <li><a href="#" class="desktop-menu__link">About</a></li>
      <li><a href="/faq" class="desktop-menu__link">FAQ</a></li>
      <li><a href="/contact" class="desktop-menu__link">Contact</a></li>
      <li><a href="/game" class="desktop-menu__link">Game</a></li>
    </ul>
  </nav>

</div>